<!DOCTYPE html>
<html lang="en" ng-app="plunker" >
<head>
  <meta charset="utf-8">
  <title>Education</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>

  <script src="javascripts/app.js" type="text/javascript"></script>
   <script src="javascripts/schoolCtrl.js" type="text/javascript"></script>

  <!-- Main Stylesheet File -->
  <link href="/stylesheets/style.css" rel="stylesheet">

   <!-- d3.js scatter plot dependency-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css"/>
  <script>document.write('<base href="' + document.location + '" />');</script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.7/angular-nvd3.min.js"></script> -->
  <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>
  <!-- <script src="javascripts/plunker.js"></script> -->



</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><p>Education Fact Book</p></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/rank">College Rank</a></li>
          <li><a href="/game">Start A Family</a></li>
          <li><a href="/income">Education vs Income</a></li>
          <li class="menu-active"><a href="/school">Find Great School</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">


      <!-- <div class="container " > -->
      <hr class="empty"><hr class="empty"><hr class="empty"><hr class="empty"><hr class="empty"> <hr class="empty">
      <hr class="empty"><hr class="empty"><hr class="empty"><hr class="empty"><hr class="empty">
          <div class="jumbotron">
          <div ng-controller = "stateController">
              <!-- SECTION ONE -->
              <div class="row">
                  <div class="col-sm-6" style="">
                      <div class="container">

                           <center><h3>Click The Cities To Compare<h3></center>
                               <div class="form-group">
                                <label for="">State</label>
                                <select class = "custom-select" ng-model="selectedState" ng-options="x for x in states"></select>
                                <button type = "button" class="btn btn-outline-secondary" name = "Submit" ng-click = "selectState()">Submit</button>
                               </div>
                           <div><nvd3 options="options" data="data" api="api" class="with-3d-shadow with-transitions"></nvd3> </div>
                       </div>
                  </div>
                  <div class="col-sm-6" style="">
                      <div class="h3 headline">Great School With Affordable House</div>
                      <div class="form-group">
                       <label for="">State</label>
                       <select class = "custom-select" ng-model="selectedState" ng-options="x for x in states"></select>
                       <button type = "button" class="btn btn-outline-secondary" name = "Submit" ng-click = "selectState()">Submit</button>
                      </div>
                      <div class="input-group mb-3">
                           <hr>
                            <table class = "table">
                               <tr>
                                   <th>School Rating Score</th>
                                   <th>Zipcode</th>
                                   <th>Median House Price</th>
                                   <th>City</th>
                                   <th>Population</th>
                                   <th>Ratio</th>
                               </tr>
                               <tr ng-repeat="x in affordable">
                                   <td>{{x.score}}</td>
                                   <td>{{x.zipcode}}</td>
                                   <td>{{x.median_price}}</td>
                                   <td>{{x.city}}</td>
                                   <td>{{x.population}}</td>
                                   <td>{{x.ratio}}</td>
                               </tr>
                             </table>
                       </div>
                  </div>
              </div>

              </div>
              <!-- <div class = "jumbotron" ng-app="plunker" ng-controller = "MainCtrl">

             <p>This plunkr is intended to demonstrate the ability of Angular-nvD3 to handle large data
             sets. This call a script at regular intervals that populates a data object
             with 5k points each call.  The data object is emptied at each call and
             repopulated.  Below we have the time it takes to actual make the <i>chart.update()</i> call.</p>
             <p>This example requires a lot of resources, but the likelihood is that these
             resources are required for the <i>Math.random()</i> call.</p>


             <b>Time to execute:</b> <span id = "timeExe"></span>
             <div id='chart' class=' chart half with-3d-shadow with-transitions' >
                   deepWatchDataDepth: 2 (default) is the most expensive watching behaviour, so we can reduce the depth to 0;
                  or we can set `deepWatchData: false`, it will turn off at all the watching behaviour;
                  and then manually refresh chart in the js code: `$scope.api.update()`
                 <nvd3 options="options" data="data" api="api" config="{deepWatchDataDepth: 0}"></nvd3>
              <button id='start-stop-button'>Start/Stop Stream</button></div> -->
            </div>


</div>



  </section><!-- #hero -->

  <main id="main">

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <strong>Education Fact Book</strong>
      </div>
      <div class="credits">
         <a href="http://www.cssmoban.com/" target="_blank" title=""></a>CIS 550<a href="http://www.cssmoban.com/" title="Bo" target="_blank"> Bo Lyu</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>

  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</body>
</html>
