<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">
<head>
  <meta charset="utf-8">
  <title>Regna Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="javascripts/app.js" type="text/javascript"></script>

  <!-- d3.js scatter plot dependency-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css"/>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.7/angular-nvd3.min.js"></script>


  <!-- Main Stylesheet File -->
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#hero">Home</a></li>
          <li><a href="/rank">College Rank</a></li>
          <li class="menu-active"><a href="/game">Start A Family</a></li>
          <li><a href="/income">Education vs Income</a></li>
          <li><a href="/school">Find Great School</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
      <div class="container sims-container" ng-controller="simsController">
              <hr class="empty">
              <hr class="empty">
              <hr class="empty">
              <hr class="empty">
              <hr class="empty">
              <hr class="empty">
              <div class="jumbotron">
              <div class="h3 headline">Let's play a game :)</div>
              <div class="form-group">
                <label for="">Choose your race: </label>
                <select class = "custom-select" ng-model="selectedRace" ng-options="x.Race for x in races"></select>
              </div>
              <div class="form-group">
                  <label for="">Choose your gender: </label>
                  <select class = "custom-select" ng-model="selectedGender" ng-options="y.Gender for y in genders"></select>
              </div>
              <div class="form-group">
                  <label for="">Choose your state of born: </label>
                  <select class = "custom-select" ng-model="selectedState" ng-options="z.StateName for z in states"></select>
              </div>
          </div>

         <!-- <a href="/dashboard" class="fixedbutton"> <botton class= 'btn btn-primary' id = 'Dashboard'>Dashboard </a> -->
       </div>
  </section><!-- #hero -->
  <section id="hero2">
      <div class="container shows-container" ng-controller="simsController">
              <div class="jumbotron">
         <!-- <a href="/dashboard" class="fixedbutton"> <botton class= 'btn btn-primary' id = 'Dashboard'>Dashboard </a> -->
       </div>
  </section><!-- #hero -->

  <main id="main">

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Bootstrap Templates  BootstrapMade. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>

  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</body>
</html>
